<!doctype html>
<html lang="en">
  <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div style="text-align: center">
      <h1 style="display: inline-block">Šta ću ist?!</h1>
      <a class="btn btn-primary" href="https://github.com/stgpetrovic/stacuist.com" role="button" target="_blank">github</a>
    </div>
    <div style="text-align: center">
      <a class="btn btn-primary" href="/random" role="button">Daj nešto drugo</a>
    </div>
    <h3>{{name}}</h3>
    <br>
    {{#each ingredients}}
      <div style="margin: 5px;">
        <input class="form-check-input" type="checkbox" id="{{this}}" name="{{this}}">
        <label for="{{this}}">{{this}}</label>
      </div>
    {{/each}}

  <br/>
  <div>
    <pre style='font-family: var(--bs-body-font-family); margin:5px; white-space: pre-wrap;'>{{text}}</pre>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
