<!doctype html>
<html lang="en">
  <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <div style="text-align: center">
      <h1 style="display: inline-block">Šta ću ist?!</h1>
      <a class="btn btn-primary" href="https://github.com/stgpetrovic/stacuist.com" role="button" target="_blank">github</a>
    </div>
    <div style="text-align: center">
      <a class="btn btn-primary" href="/random" role="button">Daj nešto drugo</a>
    </div>
    <h3>{{name}}</h3>
    <br>
    {{#each ingredients}}
      <div>
        <input type="checkbox" id="{{this}}" name="{{this}}">
        <label for="{{this}}">{{this}}</label>
      </div>
    {{/each}}

  <br/>
  <div>
    <pre>{{text}}</pre>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
